/* --- ページ全体のレイアウトに関するスタイル --- */
body {
	width   : 100vw;
	height  : 100vh;
	margin  : 0px;
	padding : 0px;
}
nav.sidebar {
	width     : 256px;
	height    : calc(100vh - 48px);
	margin    : 0px;
	padding   : 0px;
}



/* --- サイドバーに関するスタイル --- */
nav.sidebar {
	z-index    : 100;
	position   : relative;
	box-shadow : -6px 0px 8px 4px black;
	> div {
		width           : calc(100% - 1.0rem);
		height          : calc(48px - 1.0rem);
		margin          : 0px;
		padding         : 0.5rem;
		user-select     : none;
		display         : flex;
		justify-content : left;
		align-items     : center;
		> span {
			padding-left : 0.5rem;
		}
		/* メニューは選択できるアピール */
		&.content {
			cursor     : pointer;
			transition : background-color 0.15s ease-out;
			&:hover {
				background-color : #eee;
			}
			&.selected {
				background-color : #ccc;
			}
		}
		/* タイトルだけ高さが違う */
		&.title {
			height : calc(72px - 1.0rem);
			> h1 {
				font-size  : 1.5rem;
				text-align : center;
				margin     : 0px;
				display    : inline;
			}
		}
		/* Aboutは下 */
		&.bottom {
			position : absolute;
			bottom   : 0px;
		}
	}
}
