/* --- いろいろな色 --- */
:root {
	--color-bg-normal   : white;
	--color-bg-hover    : #eee;
	--color-bg-selected : #ccc;
	--color-border      : #ccc;
	--color-text-normal : black;
}



/* --- ページ全体のレイアウトに関するスタイル --- */
body {
	width            : 100vw;
	height           : 100vh;
	margin           : 0px;
	padding          : 0px;
	position         : relative;
	overflow         : hidden;
	background-color : var(--color-bg-normal);
	color            : var(--color-text-normal);
}
nav.sidebar {
	z-index   : 100;
	width     : 256px;
	height    : calc(100vh - 48px);
	margin    : 0px;
	padding   : 0px;
	top       : 0px;
	left      : 0px;
}
div.inspector {
	z-index    : 200;
	width      : 100vw;
	height     : 100vh;
	margin     : 0px;
	padding    : 0px;
	bottom     : calc(48px - 100vh);
	position   : absolute;
	transition : bottom 0.3s ease-out;
	&.opened {
		bottom : 0px;
	}
}
div.main {
	z-index    : 0;
	width      : calc(100vw - 256px);
	height     : calc(100vh - 48px);
	margin     : 0px;
	padding    : 0px;
	position   : absolute;
	overflow-y : scroll;
	top        : 0px;
	left       : 256px;
	display    : none;
	&.selected {
		display : block;
	}
}



/* --- サイドバーに関するスタイル --- */
nav.sidebar {
	position     : relative;
	border-right : solid 1px var(--color-border);
	> div {
		width           : 100%;
		height          : 48px;
		margin          : 0px;
		padding         : 0px;
		user-select     : none;
		display         : flex;
		justify-content : left;
		align-items     : center;
		> a {
			width           : 100%;
			height          : 100%;
			margin          : 0px;
			padding         : 0px;
			text-decoration : none;
			color           : inherit;
			display         : flex;
			&:hover   { color : inherit; }
			&:focus   { color : inherit; }
			&:active  { color : inherit; }
			&:visited { color : inherit; }
			> span {
				margin       : auto 0px;
				padding-left : 1.0rem;
			}
		}
		/* メニューは選択できるアピール */
		&.content {
			cursor     : pointer;
			transition : background-color 0.15s ease-out;
			&:hover {
				background-color : var(--color-bg-hover);
			}
			&.selected {
				background-color : var(--color-bg-selected);
			}
		}
		/* タイトルだけ高さが違う */
		&.title {
			width   : calc(100% - 1.0rem);
			height  : calc(72px - 1.0rem);
			padding : 0.5rem;
			> h1 {
				font-size  : 1.5rem;
				text-align : center;
				margin     : 0px;
				display    : inline;
			}
		}
		/* Aboutは下 */
		&.bottom {
			position : absolute;
			bottom   : 0px;
		}
	}
}



/* --- インスペクターエリアに関するスタイル --- */
div.inspector {
	box-shadow : 0px 6px 8px 4px #222;
	background-color : var(--color-bg-normal);
	/* アドレスバー(常時表示) */
	> div.address-bar {
		position : relative;
		> a.inspector-opener {
			width      : calc(48px - 24px);
			height     : calc(48px - 24px);
			margin     : 0px;
			padding    : 12px;
			top        : 0px;
			left       : 0px;
			position   : absolute;
			display    : block;
			cursor     : pointer;
			transition : background-color 0.15s ease-out;
			&:hover {
				background-color : var(--color-bg-hover);
			}
		}
		> div.url-bar {
			width    : calc(100% - 48px);
			height   : 48px;
			margin   : 0px;
			padding  : 0px;
			top      : 0px;
			left     : 48px;
			position : absolute;
			display  : flex;
			> span { margin : auto 1.0rem; }
		}
	}
	/* インスペクター表示時は記号を反転 */
	&.opened > div.address-bar > a.inspector-opener {
		transform : scale(1, -1);
	}
}



/* --- メインエリアに関するスタイル --- */
div.main {
	> h2 {
		margin : 0.6rem 0.8rem;
	}
	/* リスト */
	ul.list {
		list-style : none;
	}
}
