/* --- いろいろな色 --- */
:root {
	--color-bg-normal   : white;
	--color-bg-hover    : #eee;
	--color-bg-selected : #ccc;
	--color-border      : #ccc;
	--color-text-normal : black;
	/* フォーム */
	--color-button-bg-normal     : var(--color-bg-normal);
	--color-button-bg-hover      : var(--color-bg-hover);
	--color-button-bg-disabled   : #eee;
	--color-button-text-disabled : #aaa;
}



/* --- ページ全体のレイアウトに関するスタイル --- */
body {
	width            : 100vw;
	height           : 100vh;
	margin           : 0px;
	padding          : 0px;
	position         : relative;
	overflow         : hidden;
	background-color : var(--color-bg-normal);
	color            : var(--color-text-normal);
}
nav.sidebar {
	z-index   : 100;
	width     : 256px;
	height    : calc(100vh - 48px);
	margin    : 0px;
	padding   : 0px;
	top       : 0px;
	left      : 0px;
}
div.inspector {
	z-index    : 200;
	width      : 100vw;
	height     : 100vh;
	margin     : 0px;
	padding    : 0px;
	bottom     : calc(48px - 100vh);
	position   : absolute;
	transition : bottom 0.3s ease-out;
	&.opened {
		bottom : 0px;
	}
}
div.main {
	z-index    : 0;
	width      : calc(100vw - 256px);
	height     : calc(100vh - 48px);
	margin     : 0px;
	padding    : 0px;
	position   : absolute;
	overflow-y : scroll;
	top        : 0px;
	left       : 256px;
	display    : none;
	&.selected {
		display : block;
	}
}



/* --- サイドバーに関するスタイル --- */
nav.sidebar {
	position     : relative;
	border-right : solid 1px var(--color-border);
	> div {
		width           : 100%;
		height          : 48px;
		margin          : 0px;
		padding         : 0px;
		user-select     : none;
		display         : flex;
		justify-content : left;
		align-items     : center;
		> a {
			width           : 100%;
			height          : 100%;
			margin          : 0px;
			padding         : 0px;
			text-decoration : none;
			color           : inherit;
			display         : flex;
			&:hover   { color : inherit; }
			&:focus   { color : inherit; }
			&:active  { color : inherit; }
			&:visited { color : inherit; }
			> span {
				margin       : auto 0px;
				padding-left : 1.0rem;
			}
		}
		/* メニューは選択できるアピール */
		&.content {
			cursor     : pointer;
			transition : background-color 0.15s ease-out;
			&:hover {
				background-color : var(--color-bg-hover);
			}
			&.selected {
				background-color : var(--color-bg-selected);
			}
		}
		/* タイトルだけ高さが違う */
		&.title {
			width   : calc(100% - 1.0rem);
			height  : calc(72px - 1.0rem);
			padding : 0.5rem;
			> h1 {
				font-size  : 1.5rem;
				text-align : center;
				margin     : 0px;
				display    : inline;
			}
		}
		/* Aboutは下 */
		&.bottom {
			position : absolute;
			bottom   : 0px;
		}
	}
}



/* --- インスペクターエリアに関するスタイル --- */
div.inspector {
	box-shadow : 0px 6px 8px 4px #222;
	background-color : var(--color-bg-normal);
	/* アドレスバー(常時表示) */
	> div.address-bar {
		position : relative;
		> a.inspector-opener {
			width      : calc(48px - 24px);
			height     : calc(48px - 24px);
			margin     : 0px;
			padding    : 12px;
			top        : 0px;
			left       : 0px;
			position   : absolute;
			display    : block;
			cursor     : pointer;
			transition : background-color 0.15s ease-out;
			&:hover {
				background-color : var(--color-bg-hover);
			}
		}
		> div.url-bar {
			width    : calc(100% - 48px - 48px);
			height   : 48px;
			margin   : 0px;
			padding  : 0px;
			top      : 0px;
			left     : 48px;
			position : absolute;
			display  : flex;
			> span { margin : auto 1.0rem; }
		}
		> a.url-copier {
			width      : calc(48px - 24px);
			height     : calc(48px - 24px);
			margin     : 0px;
			padding    : 12px;
			top        : 0px;
			left       : calc(100% - 48px);
			position   : absolute;
			display    : block;
			cursor     : pointer;
			transition : background-color 0.15s ease-out;
			&:hover {
				background-color : var(--color-bg-hover);
			}
		}
	}
	/* 詳細エリア */
	div.details-area {
		position   : absolute;
		width      : calc(100vw - 1.0rem);
		height     : calc(100vh - 1.0rem - 48px);
		margin     : 0px;
		padding    : 0.5rem;
		top        : 48px;
		left       : 0px;
		overflow-y : scroll;
		> label {
			margin-top : 0.5rem;
			display    : block;
		}
		> textarea {
			width         : calc(100% - 1.0rem);
			display       : block;
			border        : 1px solid var(--color-border);
			border-radius : 0.3rem;
			font-family   : inherit;
			font-size     : 1rem;
			&#request-body  { height : 10rem; }
			&#response_body { height : 20rem; }
		}
	}
	/* インスペクター表示時は記号を反転 */
	&.opened > div.address-bar > a.inspector-opener {
		transform : scale(1, -1);
	}
}



/* --- メインエリアに関するスタイル --- */
div.main {
	> *  { margin-left : 0.8rem; }
	> h2 { margin : 0.6rem 0.8rem; }
	/* リスト */
	ul.list {
		list-style : none;
	}
	/* フォーム種別 */
	div.input-100 {
		width   : calc(100% - 0.8rem);
		margin  : 0px 0px 0px 0.8rem;
		padding : 0px;
		> input, > textarea {
			width : 75%;
		}
	}
	/* フォーム細部 */
	button, input, select {
		height        : 1.5rem;
		margin        : 0.5rem;
		margin-right  : 0px;
		padding       : 0.25rem 0.5rem;
		border        : 1px solid var(--color-border);
		font-size     : 1rem;
		border-radius : 0.3rem;
	}
	select {
		box-sizing : content-box;
	}
	button {
		box-sizing       : content-box;
		background-color : var(--color-button-bg-normal);
		transition       : background-color 0.15s ease-out;
		&:hover { background-color : var(--color-button-bg-hover); }
		&[disabled] {
			color            : var(--color-button-text-disabled);
			background-color : var(--color-button-bg-disabled);
			&:hover { background-color : var(--color-button-bg-disabled); }
		}
	}
	input[type="text"] {
		background-color : inherit;
		color            : inherit;
	}
}
